.card {
    width: 15rem;
}

.card1 {
    width: 32.5rem;
}

.card2 {
    width: 15rem;
}

.container {
    min-width: 80%;
}

.navbar-brand {
    min-width: 220px;
    height: 70px;
    background-image: url("image/logo.png");
    background-size: cover;
}

.button1 {
    width: 55px;
    height: 40px;
}

.navbar {
    height: 100px;
}

ul {
    margin-left: 28vw;
}

.nav-item {
    min-width: 90px;
    margin-right: 8px;
}

.navicon1 {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    background-image: url("image/navicon1.png");
    background-size: cover;
    position: relative;
}

.navicon1 input {
    display: none;
}

.iconactive {
    position: absolute;
    top: 35px;
    right: -15px;
    height: 30px;
    border: solid 1px #917C6A;
    width: 170px;
    border-radius: 2px;
}

.navicon2 {
    width: 35px;
    height: 35px;
    background-image: url("image/navicon2.png");
    background-size: cover;
}

.banner {
    width: 100%;
    height: 50vw;
    background-image: url("image/image13.jpg");
    background-size: cover;
}

.brand_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand {
    width: 49%;
    height: 25vw;
    background-size: cover;
}

.brand1 {
    background-image: url("image/a.jpg");
}

.brand2 {
    background-image: url("image/b.jpg");
}

.brand3 {
    background-image: url("image/c.jpg");
}

.brand4 {
    background-image: url("image/d.jpg");
}

.new_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.new_title {
    font-family: " Myriad Pro";
    font-weight: bold;
    font-size: 23px;
}

.new_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img-top {
    border: solid 1px #C8C9C9;
}

.card {
    border: 0px white;
}

.card-body {
    padding: 8px 5px;
}

.popular_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3vw;
}

.popular_title {
    font-family: " Myriad Pro";
    font-weight: bold;
    font-size: 23px;
}

.popular_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5vw;
    display: flex;
}

.location_pic {
    width: 50%;
    height: 25vw;
    background-image: url("image/shop.jpg");
    background-size: cover;
}

.location_text {
    width: 50%;
    height: 25vw;
    background-color: #F7F1EB;
    position: relative;
}

.text {
    width: 70%;
    min-height: 80%;
    position: absolute;
    top: 62%;
    left: 55%;
    transform: translate(-50%, -50%);
}

h5 {
    position: absolute;
    top: 0%;
    left: 13%;
}

.location_icon {
    width: 35px;
    height: 25px;
    background-image: url("image/location.png");
    background-size: cover;
    position: relative;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #C1905F;
}

.swiper-button-next {
    background-image: url(image/arrow-1.png);
}

.swiper-button-prev {
    background-image: url(image/arrow-2.png);
}

.text p {
    letter-spacing: 3px;
}

.picture {
    width: 100%;
    height: 45vw;
    margin-top: 8vw;
}

.picture1 {
    background-image: url("image/picture1.jpg");
    background-size: cover;
}

.picture2 {
    background-image: url("image/picture2.jpg");
    background-size: cover;
}

.picture3 {
    background-image: url("image/picture3.jpg");
    background-size: cover;
}

.picture4 {
    background-image: url("image/picture4.jpg");
    background-size: cover;
}

.picture5 {
    background-image: url("image/picture5.jpg");
    background-size: cover;
}

.footer {
    width: 100%;
    height: 25vw;
    position: relative;
}

.footer_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_part {
    width: 25%;
    height: 13vw;
    margin-top: 1vw;
}

.footer_text {
    width: 15%;
    height: 13vw;
    margin-top: 3vw;
}

.footericon {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    left: 50%;
}

.ficon1 {
    background-image: url("image/fiocn-1.png");
    background-size: cover;
    left: 40%;
}

.ficon2 {
    background-image: url("image/fiocn-2.png");
    background-size: cover;
    left: 45%;
}

.ficon3 {
    background-image: url("image/fiocn-3.png");
    background-size: cover;
    left: 50%;
}

.ficon4 {
    background-image: url("image/fiocn-4.png");
    background-size: cover;
    left: 55%;
}

.footer_logo {
    width: 100%;
    height: 48%;
    background-image: url("image/logo.png");
    background-size: cover;
}

.footer_t {
    font-size: 18pt;
    text-align: center;
    color: #917C6A;
    font-weight: bold;
    letter-spacing: 3px;
}

.copy {
    width: 40%;
    height: 2vw;
    position: absolute;
    bottom: 5%;
    left: 30%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
}

/*    living story   */

.story_banner {
    width: 100%;
    height: 40vw;
    background-image: url("image/story_banner.jpg");
    background-size: cover;
    background-position: center;
}

.story_text {
    width: 100%;
    background-color: black;
}

.story_logo {
    width: 250px;
    height: 42px;
    margin: auto;
    background-image: url("image/logo2.png");
    background-size: cover;
}

.story_block {
    width: 100%;
    padding: 80px 150px;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 24px;
}

.story_sign {
    width: 180px;
    height: 50px;
    background-image: url("image/sign.png");
    background-size: cover;
    float: right;
}

.story_designer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.designer {
    width: 300px;
    height: 400px;
    background-image: url("image/designer.jpg");
    background-size: cover;
}

.designer_text {
    width: 58%;
    height: 100%;
    padding: 30px 80px;
}

.story_youtube {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 5vw;
}

.youtube {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.video {
    width: 100%;
    height: 505px;
}

.youtube_text {
    width: 100%;
    padding: 50px 220px;
    letter-spacing: 2px;
    line-height: 30px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* living contact */

.contact_banner {
    width: 100%;
    height: 30vw;
    background-image: url("image/contactus.jpg");
    background-size: cover;
}

.contact_section {
    width: 80%;
    height: 55vw;
    margin: 3vw auto;
    display: flex;
    justify-content: space-between;
}

.contact_pic {
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.activity_pic {
    width: 100%;
    height: 48%;
}

.pic1 {
    background-image: url("image/activity1.jpg");
    background-size: cover;
}

.pic2 {
    background-image: url("image/activity2.jpg");
    background-size: cover;
}

.contact_wrap {
    width: 70%;
    height: 100%;
}

.comment {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 5px 0px;
    color: #A83D25;
    font-family: "微軟正黑體";
}

.contact_data {
    margin-bottom: 1vw;
    display: flex;
}

.contact_title {
    width: 80px;
    margin-right: 10px;
    text-align: right;
    color: #bf9b63;
}

.contact_input {
    width: 100%;
    max-width: 400px;
    height: 25px;
    color: #bbb;
}

.contact_input2 {
    width: 100%;
    max-width: 660px;
    height: 25px;
    color: #bbb;
}

.contact_input3 {
    width: 100%;
    max-width: 660px;
}

.radiobox {
    display: flex;
}

.inputextbox {
    margin: 0 10px;
}

.contactbtn {
    float: right;
}

.btn {
    margin: 5px;
}

/*  design  */

.design_banner {
    width: 100%;
    height: 35vw;
    display: flex;
}
.design_banner2{
    width: 100%;
    height: 35vw;
    background-image: url("image/picture2.jpg");
    background-size: cover;
}

.banner_pic1 {
    width: 38%;
    height: 35vw;
    background-image: url("image/poster.jpg");
    background-size: cover;
    display: inline-block;
}

.banner_pic2 {
    width: 62%;
    height: 35vw;
    z-index: -1;
}

.sell1 {
    background-image: url("image/sell1.jpg");
    background-size: cover;
}

.sell2 {
    background-image: url("image/sell2.jpg");
    background-size: cover;
}

.sell3 {
    background-image: url("image/sell3.jpg");
    background-size: cover;
}

.sell4 {
    background-image: url("image/sell4.jpg");
    background-size: cover;
}
.sell_section{
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
}
.sell_display{
    width: 80%;
    height: 15vw;
    margin: 2vw auto;
    display: flex;
    justify-content: space-between;
}
.sell_box{
    width:19%;
    height: 100%;
    border: solid 1p;
}
.box1{
    background-image: url("image/new-2.jpg");
    background-size: cover;
}
.box2{
    background-image: url("image/new-1.jpg");
    background-size: cover;
}
.box3{
    background-image: url("image/popular-2.jpg");
    background-size: cover;
}
.box4{
    background-image: url("image/popular-3.jpg");
    background-size: cover;
}
.box5{
    background-image: url("image/new-4.jpg");
    background-size: cover;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
background:#E8BB6B;
}
a{
    color:#5A6268
}
.card_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}
.btn-body{
    width: 130px;
    display: flex;
    margin: auto;
}
.price{
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 1vw;
    color: #E8BB6B;
}
.shoppingcart{
    width: 25px;
    height: 25px;
    background-image: url("image/shoppingcart-02.png");
    background-size: cover;
}
.tab_body{
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width:1920px){
    ul {
        margin-left: 40vw;
    }
}
@media screen and (min-width:2500px){
    ul {
        margin-left: 48vw;
    }
}

@media screen and (max-width:1200px) {
    ul {
        margin-left: 20vw;
    }
    .location_container {
        width: 80%;
        margin: 0 auto;
        margin-top: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .location_pic {
        min-width: 650px;
        height: 350px;
        background-image: url("image/shop.jpg");
        background-size: cover;
    }
    .location_text {
        width: 650px;
        height: 350px;
        background-color: #F7F1EB;
        position: relative;
        margin-top: 2vw;
    }
    .text {
        min-width: 70%;
        min-height: 80%;
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .card {
        width: 25rem;
    }
    .card1 {
        width: 50rem;
    }
    .card3{
        width: 13rem;
    }
}

@media screen and (max-width:1000px) {
    .card {
        width: 18rem;
    }
    .card1 {
        width: 50rem;
    }
}

@media screen and (max-width:992px) {
    ul {
        margin-left: 20px;
    }
    .footer {
        width: 100%;
        height: 30vw;
        position: relative;
    }
    .footer_text {
        width: 15%;
        height: 13vw;
        margin-top: 3vw;
        font-size: 15px;
    }
    .ficon1 {
        background-image: url("image/fiocn-1.png");
        background-size: cover;
        left: 30%;
    }
    .ficon2 {
        background-image: url("image/fiocn-2.png");
        background-size: cover;
        left: 40%;
    }
    .ficon3 {
        background-image: url("image/fiocn-3.png");
        background-size: cover;
        left: 50%;
    }
    .ficon4 {
        background-image: url("image/fiocn-4.png");
        background-size: cover;
        left: 60%;
    }
    .footer_logo {
        width: 100%;
        height: 48%;
        background-image: url("image/logo.png");
        background-size: cover;
    }
    .footer_t {
        font-size: 14pt;
        letter-spacing: 3px;
    }
    .youtube {
        max-width: 700px;
    }
    .video {
        width: 100%;
        height: 350px;
    }
    .youtube_text {
        padding: 50px 120px;
    }
    .designer_text {
        width: 72%;
        height: 100%;
        padding: 30px 30px;
    }
    .story_block {
        padding: 80px 100px;
    }
    .card3{
        width: 10rem;
    }
}

@media screen and (max-width:767px) {
    .container {
        max-width: 767px;
    }
    .collapse {
        background-color: #F4EBE1;
        margin-top: 22px;
        width: 100vw;
    }
    ul {
        margin-left: 20px;
    }
    .navicon1 {
        display: none;
    }
    .navicon2 {
        display: none;
    }
    .card {
        width: 15rem;
    }
    .card1 {
        width: 50rem;
    }
    .location_pic {
        min-width: 500px;
        height: 280px;
    }
    .location_text {
        width: 500px;
        height: 280px;
    }
    .footer {
        width: 100%;
        height: 55vw;
        position: relative;
    }
    .footer_container {
        justify-content: center;
    }
    .footer_part {
        margin: 0 50px;
        width: 60%;
        height: 23vw;
        margin-top: 1vw;
    }
    .footer_text {
        width: 25%;
        height: 13vw;
        text-align: center;
        margin-top: 1vw;
    }
    .footericon {
        position: absolute;
        bottom: 10%;
        left: 50%;
    }
    .ficon1 {
        left: 30%;
    }
    .ficon2 {
        left: 40%;
    }
    .ficon3 {
        left: 50%;
    }
    .ficon4 {
        left: 60%;
    }
    .copy {
        width: 100%;
        bottom: 5%;
        left: 0%;
    }
    .text {
        font-size: 15px;
        top: 52%;
        left: 53%;
    }
    .story_designer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5vw;
    }
    .designer {
        width: 300px;
        height: 400px;
        background-image: url("image/designer.jpg");
        background-size: cover;
    }
    .designer_text {
        width: 70%;
        height: 100%;
        padding: 30px 0px;
    }
    .card3{
        width: 12rem;
    }

}

@media screen and (max-width:660px) {
    .footer {
        width: 100%;
        height: 65vw;
    }
    .card {
        width: 13rem;
    }
    .card1 {
        width: 50rem;
    }
    .card3{
        width: 10rem;
    }
    .contact_pic {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
    }
    
    .activity_pic {
        width: 48%;
        height: 100%;
    }
    .contact_section {
        width: 80%;
        height: 55vw;
        margin: 3vw auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact_wrap {
        margin-top: 3vw;
        width: 100%;
        height: 100%;
    }
    .contact_banner {
        width: 100%;
        height: 50vw;
    }

}

@media screen and (max-width:530px) {
    .brand {
        width: 100%;
        height: 45vw;
        background-size: cover;
    }
    .footericon {
        width: 40px;
        height: 40px;
        background-size: cover;
    }
    .location_pic {
        min-width: 400px;
        height: 250px;
    }
    .location_text {
        width: 400px;
        height: 250px;
    }
    h5 {
        font-size: 20px;
    }
    .text {
        min-width: 70%;
        min-height: 80%;
        position: absolute;
        font-size: 13px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card {
        width: 11rem;
    }
    .card1 {
        width: 50rem;
    }
    .story_designer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5vw;
    }
    .designer {
        width: 300px;
        height: 400px;
        background-image: url("image/designer.jpg");
        background-size: cover;
    }
    .designer_text {
        width: 80%;
        height: 100%;
        padding: 30px 0px;
    }
    .youtube_text {
        width: 100%;
        padding: 50px 80px;
        letter-spacing: 2px;
        line-height: 30px;
    }
    .youtube {
        max-width: 450px;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    .video {
        width: 100%;
        height: 250px;
    }
    .navb{
        display: block;
    }
    .card3{
        width: 7rem;
    }
    .btn{
        width: 100px;
        padding: .175rem .3rem;
        font-size: 9px;
    }
    .price{
        font-size: 15px;
    }
    .card-text{
        font-size: 15px;
    }
}

@media screen and (max-width:460px) {
    ul {
        margin-left: 0px;
        text-align: center;
    }
    .navbar-brand {
        min-width: 180px;
        height: 50px;
        background-image: url("image/logo.png");
        background-size: cover;
    }
    .navbar {
        height: 60px;
    }
    .collapse {
        margin-top: 2px;
    }
    .card {
        width: 10rem;
    }
    .card1 {
        width: 50rem;
    }
    .location_pic {
        min-width: 370px;
        height: 250px;
    }
    .location_text {
        width: 370px;
        height: 250px;
    }
    .location_icon {
        width: 25px;
        height: 20px;
    }
    h5 {
        font-size: 18px;
    }
    .text p {
        letter-spacing: 0px;
    }
    .text {
        font-size: 13px;
        top: 58%;
        left: 53%;
    }
    .footer {
        width: 100%;
        height: 75vw;
    }
    .footer_t {
        font-size: 15px;
        letter-spacing: 3px;
    }
    .footer_text {
        font-size: 13px;
    }
    .copy {
        font-size: 12px;
    }
    .picture {
        width: 100%;
        height: 55vw;
        margin-top: 8vw;
    }
    .story_banner {
        height: 45vw;
    }
    .designer {
        width: 230px;
        height: 280px;
    }
    .card3{
        width: 6rem;
    }
   
}

@media screen and (max-width:405px) {
    .card {
        width: 9rem;
    }
    .card1 {
        width: 50rem;
    }
    .ficon1 {
        left: 15%;
    }
    .ficon2 {
        left: 35%;
    }
    .ficon3 {
        left: 55%;
    }
    .ficon4 {
        left: 75%;
    }
    .location_pic {
        min-width: 320px;
        height: 220px;
    }
    .location_text {
        width: 320px;
        height: 220px;
    }
    .text {
        font-size: 13px;
        top: 52%;
        left: 53%;
    }
    .navbar-toggler-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button {
        position: relative;
        width: 45px;
        height: 35px;
    }
    .story_logo {
        width: 180px;
        height: 30px;
    }
    .story_block {
        padding: 80px 50px;
    }
    .youtube {
        max-width: 360px;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    .video {
        width: 100%;
        height: 220px;
    }
    .youtube_text {
        width: 100%;
        padding: 50px 30px;
    }
    .youtube_text p {
        font-size: 15px;
    }
    h4 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
}